    <footer class="footer">
      <p>
        Copyright © 2020 {{ author }}
        <br/>
        {{#if devBuild}}
          Development build, version {{ version }}
        {{/if}}
      </p>
    </footer>
  </body>
</html>
