<meta charset="UTF-8">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width,shrink-to-fit=no,user-scalable=no,initial-scale=1,minimum-scale=1,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">

<link rel="icon" type="image/png" href="{{ root }}images/icon.png">
<link rel="stylesheet" type="text/css" href="{{ root }}styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ root }}styles/fonts/font.css">
<link rel="stylesheet" type="text/css" href="{{ root }}styles/style.css">
<script type="application/javascript" src="{{ root }}javascript/font-awesome.js"></script>

<title>{{ title }} | {{ name }}</title>
<meta name="description" content="{{ description }}"/>