/* Global styles */
body {
	font-family: sans-serif;
	background-color: #1B1D1E;
	line-height: 1.5;
	font-size: 62.5%;
}
*{
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	color: #337ab7;
  text-decoration: none;
}
p {
	font-size: 1em;
}

/* Header */
.header-bar {
	display: block;
	padding: 0.5em 10em 0em 0em;
	font-size: 2em;
	overflow: auto;
}
.header-nav {
	float: right;
}

/* Footer */
.footer-bar {
	font-size: 1.25em;
	text-align: center;
	color: #333;
}

/* Navigation Bar */
.nav-list {
	display: flex;
	list-style-type: none;
	
}
.nav-item {
	width: 6em;
}
.nav-item a {
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
}
.nav-item a.active {
	border-bottom: 3px solid;
}

/* Home Page */
.home-container {
	font-size: 14px;
	text-align: center;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}
.home-img {
	border: 2px #fff solid;
	border-radius: 100px;
	display: block;
	margin: 0 auto 20px;
	width: 180px;
	height: 180px;
}
.home-name {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 4.75em;
}
.home-about {
	font-weight: 300;
	font-size: 1.75em;
}

/* Home Line Break */
.home-line {
	height: 0;
	margin: 25px auto 30px;
	padding: 0;
	max-width: 250px;
	border: 0;
	border-top: solid 5px;
	text-align: center;
	border-color: #fff;
}
.home-line:after {
	content: "\f005";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .25em;
	font-family: FontAwesome;
	font-size: 2em;
	color: #fff;
	background-color: #2c3e50;
}

/* Home Buttons */
.btn-list {
	padding-left: 0;
  margin-left: -5px;
  list-style: none;
	margin-top: 15px;
}
.btn-list>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.btn-link {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
	margin-top: 15px;
	border: solid 2px #fff;
	font-size: 20px;
	color: #fff;
	background: 0 0;
	transition: all .3s ease-in-out;
}
.btn-link:active, .btn-link:focus, .btn-link:hover {
	border: solid 2px #fff;
	background: #fff;
	color: #171515;
}

/* Projects Page */
.projects-container {
	max-width: 50em;
	margin: auto;
}
.projects-list {
	list-style-type: none;
	line-height: 1.3;
}
.projects-item {
	flex: 1 1 45%;
	margin: 0 1em 1em 0;
}
.projects-link {
	display: block;
	height: 100%;
	padding: 5px 10px;
	border: 1px solid #ccc;
	outline: 0 none;
	overflow: hidden;
}
.projects-link:hover, .projects-link:focus {
	background-color: #f9f9f9;
	border-color: #999;
}
.projects-title {
	margin: 0;
}
.projects-date {
	margin: 0;
	color: #333;
	font-size: 0.8em;
	color: #777;
}
.projects-info {
	margin: 0;
	color: #333;
}

/* Post Page */
.post-container {
	clear: both;
	overflow: auto;
	padding: 3em 0 2em 0;
	max-width: 50em;
	margin: auto;
	display: flex;
}
.post-article {
	padding: 1rem 0;
	flex: 1 1 70%;
	min-width: 0;
}
.article-date {
	font-size: 0.8em;
	color: #777;
}
.post-nav {
	margin-top: 1.5em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.post-nav-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
}
.post-nav-item {
	flex: auto;
}
.nav-link {
	display: block;
	text-align: center;
	white-space: nowrap;
	padding: 0.6em 0;
	text-align: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.nav-link.active {
	background-color: #fff;
}
.nav-link.next {
	text-align: right;
}

/* Project Sub Nav */
.list-navsub {
	flex: 1 1 30%;
	margin: 0 0 0 2rem;
}
.navsub-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	margin-top: 1em;
	flex-direction: column;
	border-top: 1px dotted #ccc;
}
.navsub-item {
	flex: 1 1 100%;
	margin: 0;
	border-bottom: 1px dotted #ccc;
}
.navsub-active {
	display: block;
	text-align: center;
	white-space: nowrap;
	padding: 0.6em 0;
	text-align: left;
	padding-left: 0.75em;
}
.navsub-inactive {
	display: block;
	text-align: center;
	white-space: nowrap;
	padding: 0.6em 0;
	text-align: left;
	padding-left: 0.75em;
}

/* Contact Page */
.contact-container {
	max-width: 50em;
	padding: 0 0.5em;
	margin: 0 auto;
}