/* Global styles */
body {
	background-color: #1B1D1E;
	overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}


/* Home page styles */
hr.star-light {
	margin: 25px auto 30px;
	padding: 0;
	max-width: 250px;
	border: 0;
	border-top: solid 5px;
	text-align: center;
}
hr.star-light:after {
	content: "\f005";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .25em;
	font-family: FontAwesome;
	font-size: 2em;
}
hr.star-light {
	border-color: #fff;
}
hr.star-light:after {
	color: #fff;
	background-color: #2c3e50;
}
.icon-container {
	text-align: center;
	color: #fff;

}
.icon-container .container {
	padding-top: 100px;
	padding-bottom: 50px;
}
.icon-container img {
	border: 2px #fff solid;
	border-radius: 100px;
	display: block;
	margin: 0 auto 20px;
	width: 170px;
	height: 170px;
}
.icon-container .intro-text .name {
	text-transform: uppercase;
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: 300;
}
.icon-container .intro-text .about {
	font-size: 1.25em;
	font-weight: 300;
}
@media (min-width:768px) {
	.icon-container .intro-text .name {
	font-size: 4.75em;
}
.icon-container .intro-text .about {
	font-size: 1.75em;
}
}.links {
	margin-top: 15px;
}
.btn-outline {
	margin-top: 15px;
	border: solid 2px #fff;
	font-size: 20px;
	color: #fff;
	background: 0 0;
	transition: all .3s ease-in-out;
}
.btn-outline:active, .btn-outline:focus, .btn-outline:hover {
	border: solid 2px #fff;
	background: #fff;
}
.btn-outline-default:active, .btn-outline-default:focus, .btn-outline-default:hover {
	color: #2c3e50;
}
.btn-outline-github:active, .btn-outline-github:focus, .btn-outline-github:hover {
	color: #171515;
}
.btn-outline-vk:active, .btn-outline-vk:focus, .btn-outline-vk:hover {
	color: #45668e;
}
.btn-social {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
}
.btn:active, .btn:focus {
	outline: 0;
}
.btn-outline-instagram:active, .btn-outline-instagram:focus, .btn-outline-instagram:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
	color: #fff;
}


/* Header & footer styles*/
header {
	display: block;
	padding: 1rem 2rem 1rem 2rem;
	font-size: 2rem;
}

header, footer {
	clear: both;
	width: 100%;
	overflow: auto;
}

footer {
	font-size: 0.85em;
	padding: 1em;
	text-align: center;
}

footer p {
	margin: 0;
}


/* Navigation bar styles */
.logo {
	font-size: 1.5em;
	margin: 0.2em 0 0 0;
	color: #999;
}

.nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	
}

.nav li {
	flex: 1 1 100%;
	margin: 0;
}

.nav a, .nav strong {
	display: block;
	text-align: center;
	white-space: nowrap;
	padding: 0.6em 0;
}

.nav.main a {
	color: #fff;
}

.nav a.active, .nav strong {
	color: #fff;
	border-bottom: 3px solid #fff;
}

.nav.page {
	margin-top: 1.5em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

@media (min-width: 16em) {
	.nav li {
		flex: 1 1 50%;
	}
}

@media (min-width: 32em) {
	.logo {
		float: left;
	}

	.nav.main {
		float: right;
	}

	.nav li {
		flex: 1 1 auto;
	}

	.nav.main li {
		width: 6em;
	}

	main {
		padding: 3em 0 2em 0;
	}

	.subpages .content {
		display: flex;
	}

	.subpages article {
		flex: 1 1 70%;
		min-width: 0;
	}

	.subpages .nav.sub {
		flex: 1 1 30%;
		margin: 0 0 0 2rem;
	}

	.nav.sub ul {
		margin-top: 1em;
		flex-direction: column;
		border-top: 1px dotted #ccc;
	}

	.nav.sub li {
		border-bottom: 1px dotted #ccc;
	}

	.nav.sub a, .nav.sub strong {
		text-align: left;
		padding-left: 0.75em;
	}

	.nav.page a {
		text-align: left;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	.nav.page a.next {
		text-align: right;
	}
}