{{> header }}

<main class="home-container">
	<img class="home-img" src="{{ root }}images/profile-picture.jpg"/>
	<span class="home-name">Louis Lefevre</span>
	<hr class="home-line"/>
	<span class="home-about">Computer Science student at Goldsmiths, University of London</span>
	
	<ul class="btn-list">
		<li><a href="https://github.com/louislefevre" target="_blank" class="btn-link"><i class="fab fa-github"></i></a></li>
		<li><a href="https://gitlab.doc.gold.ac.uk/llefe001" target="_blank" class="btn-link"><i class="fab fa-gitlab"></i></a></li>
		<li><a href="https://aur.archlinux.org/account/zChewbacca" target="_blank" class="btn-link"><i class="fab fa-linux"></i></a></li>
		<li><a href="https://www.linkedin.com/in/louis-lefevre-775125182/" target="_blank" class="btn-link"><i class="fab fa-linkedin"></i></a></li>
		<li><a href="mailto:louislefev@gmail.com" target="_blank" class="btn-link"><i class="fas fa-envelope"></i></a></li>
	</ul>
</main>

{{> footer }}