{{> header }}

<main class="home">
	<img src="{{ root }}images/profile-picture.jpg"/>
	<span class="name">Louis Lefevre</span>
	<hr/>
	<span class="about">Computer Science student at Goldsmiths, University of London</span>
	
	<ul>
		<li><a href="https://github.com/louislefevre" target="_blank"><i class="fab fa-github"></i></a></li>
		<li><a href="https://gitlab.doc.gold.ac.uk/llefe001" target="_blank"><i class="fab fa-gitlab"></i></a></li>
		<li><a href="https://aur.archlinux.org/account/zChewbacca" target="_blank"><i class="fab fa-linux"></i></a></li>
		<li><a href="https://www.linkedin.com/in/louis-lefevre-775125182/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
		<li><a href="mailto:louislefev@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
	</ul>
</main>

{{> footer }}