{{> header }}

<div class="icon-container container row col-lg-12">
	<img class="img-responsive profile-img" src="{{ root }}images/profile-picture.jpg" alt="" data-tilt="" data-tilt-glare="" data-tilt-max-glare="0.8" />
	<div class="intro-text">
		<span class="name">Louis Lefevre</span>
		<hr class="star-light" />
		<span class="about">Computer Science student at Goldsmiths, University of London</span>
	</div>
	<ul class="list-inline links">
		<li><a href="https://github.com/louislefevre" target="_blank" class="btn-social btn-outline btn-outline-github"><i class="fab fa-github"></i></a></li>
		<li><a href="https://gitlab.doc.gold.ac.uk/llefe001" target="_blank" class="btn-social btn-outline btn-outline-github"><i class="fab fa-gitlab"></i></a></li>
		<li><a href="https://aur.archlinux.org/account/zChewbacca" target="_blank" class="btn-social btn-outline btn-outline-github"><i class="fab fa-linux"></i></a></li>
		<li><a href="https://www.linkedin.com/in/louis-lefevre-775125182/" target="_blank" class="btn-social btn-outline btn-outline-github"><i class="fab fa-linkedin"></i></a></li>
		<li><a href="mailto:louislefev@gmail.com" target="_blank" class="btn-social btn-outline btn-outline-github"><i class="fas fa-envelope"></i></a></li>
	</ul>
</div>

{{> footer }}


<!--
<main>
	<div class="content">
		<article>
			<h1>{{ title }}</h1>
			{{{ contents }}}
		</article>
	</div>
</main>
-->
