{{> header }}

<main class="subpages post-container">
	<div class="content post-section">
		<article class="post-article">
			<h1>{{ title }}</h1>
			<p class="article-date">Published {{ dateFormat }}</p>
			{{{ contents }}}
				<nav class="nav page post-nav">
					<ul class="post-nav-list">
					{{#if previous.title }}
						<li class="post-nav-item"><a href="{{ root }}{{ previous.path }}/" class="back nav-link">&laquo; back: {{ previous.title }}</a></li></p>
					{{/if}}
					{{#if next.title }}
						<li><a href="{{ root }}{{ next.path }}/" class="next nav-link">next: {{ next.title }} &raquo;</a></li></p>
					{{/if}}
					</ul>
				</nav>
			</article>
		{{> navsub }}
		</div>
</main>

{{> footer }}