{{> header }}

<main class="post">
	<article>
		<h1>{{ title }}</h1>
		<p class="date">Published {{ dateFormat }}</p>
		<p>{{{ contents }}}</p>

		<nav class="nav">
			<ul>
					<li><a href="{{ root }}{{ previous.path }}/" class="back">&laquo; back: {{ previous.title }}</a></li>
					<li><a href="{{ root }}{{ next.path }}/" class="next">next: {{ next.title }} &raquo;</a></li>
			</ul>
		</nav>
	</article>
	
	<nav class="navsub">
		<ul>
			{{#each navsub}}
				<li>
					{{#if active}}
						<strong>{{title}}</strong>
					{{else}}
						<a href="{{path}}">{{title}}</a>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</nav>
</main>

{{> footer }}